.element-detail {
  width: 600px;
  height: 360px;
  background-color: #666;
}
.element-detail .element-symbol {
  width: 180px;
  height: 140px;
  float: left;
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.element-detail .element-name {
  width: 420px;
  height: 60px;
  float: right;
  padding-top: 6px;
  font-size: 34px;
  font-family: "Bitter", serif;
  text-align: center;
}
