.periodic-table {
  width: 1100px;
  margin: 0 auto 0 auto;
}

.element {
  width: 100px;
  height: 80px;
  display: inline-block;
  text-align: center;
}

span.element-name {
  display: block;
  font-size: 1em;
}

span.element-symbol {
  display: block;
  font-size: 3em;
}

.element.transition-metals {
  background-color: rgb(162, 104, 60);
}

.element.alkali-metals {
  background-color: rgb(176, 100, 0);
}

.element.alkaline-earth-metals {
  background-color: rgb(139, 62, 7);

}

.element.lanthanides {
  background-color: rgb(84, 145, 32);

}

.element.actinides {
  background-color: rgb(119, 120, 50);

}

.element.poor-metals {
  background-color: rgb(72, 74, 130);

}

/* Start non-metals */

.element.metalloids {
  background-color: rgb(145, 37, 73);

}

.element.polyatomic-nonmetals {
  background-color: rgb(150, 36, 104);

}

.element.diatomic-nonmetals {
  background-color: rgb(150, 89, 159);

}

/* End non-metals */

.element.noble-gases {
  background-color: rgb(76, 160, 159);

}

.element.unknown {
  background-color: rgb(187, 84, 38);
}
