div.element {
  width: 100px;
  height: 80px;
  display: inline-block;
  text-align: center;
}

span.element-name {
  display: block;
  font-size: 1em;
}

span.element-symbol {
  display: block;
  font-size: 3em;
}

.element.transition-metals {

}

.element.alkali-metals {

}

.element.alkaline-earth-metals {

}

.element.lanthanides {

}

.element.actinides {

}

.element.transition-metals {

}

.element.poor-metals {

}

/* Start non-metals */

.element.metalloid {

}

.element.polyatomic-nonmetals {

}

.element.diatomic-nonmetals {

}

/* End non-metals */

.element.noble-gases {

}

.element.unknown {

}
