@transition-metals:     rgb(162, 104, 60);
@alkali-metals:         rgb(87, 204, 96);
@alkaline-earth-metals: rgb(204, 183, 87);
@lanthanides:           rgb(84, 145, 32);
@actinides:             rgb(87, 120, 48);
@poor-metals:           rgb(255, 101, 44);
@metalloids:            rgb(255, 68, 46);
@polyatomic-nonmetals:  rgb(204, 69, 66);
@diatomic-nonmetals:    rgb(112, 95, 255);
@noble-gases:           rgb(29, 174, 187);
@unknown:               rgb(187, 84, 38);


@element-names: 
  transition-metals,
  alkali-metals,
  alkaline-earth-metals,
  lanthanides,
  actinides,
  poor-metals,
  metalloids,
  polyatomic-nonmetals,
  diatomic-nonmetals,
  noble-gases,
  unknown;


@element-colours: 
rgb(162, 104, 60),
rgb(87, 204, 96),
rgb(204, 183, 87),
rgb(84, 145, 32),
rgb(87, 120, 48),
rgb(255, 101, 44),
rgb(255, 68, 46),
rgb(204, 69, 66),
rgb(112, 95, 255),
rgb(29, 174, 187),
rgb(187, 84, 38);

.generate-class(@index, @name, @colour, @darken) when (isnumber(@index)) and (iscolor(@colour)) {
  &.element-@{index}.@{name} {
    background-color: darken(@colour, @darken);
  }
}

.generate-colours(@index, @darken) {
  .loop(@i) when (@i > 0) {
    @name: extract(@element-names, @i);
    @colour: extract(@element-colours, @i);
    .generate-class(@index, @name, @colour, @darken);
    .loop(@i - 1);
  }
  .loop(0) {};
  .loop(length(@element-colours));
}