@transition-metals:     rgb(162, 104, 60);
@alkali-metals:         rgb(87, 204, 96);
@alkaline-earth-metals: rgb(204, 183, 87);
@lanthanides:           rgb(84, 145, 32);
@actinides:             rgb(87, 120, 48);
@poor-metals:           rgb(255, 101, 44);
@metalloids:            rgb(255, 68, 46);
@polyatomic-nonmetals:  rgb(204, 69, 66);
@diatomic-nonmetals:    rgb(112, 95, 255);
@noble-gases:           rgb(29, 174, 187);
@unknown:               rgb(187, 84, 38);

@transition-metals-2:     darken(@transition-metals, 6%);
@alkali-metals-2:         darken(@alkali-metals, 6%);
@alkaline-earth-metals-2: darken(@alkaline-earth-metals, 6%);
@lanthanides-2:           darken(@lanthanides, 6%);
@actinides-2:             darken(@actinides, 6%);
@poor-metals-2:           darken(@poor-metals, 6%);
@metalloids-2:            darken(@metalloids, 6%);
@polyatomic-nonmetals-2:  darken(@polyatomic-nonmetals, 6%);
@diatomic-nonmetals-2:    darken(@diatomic-nonmetals, 6%);
@noble-gases-2:           darken(@noble-gases, 6%);
@unknown-2:               darken(@unknown, 6%);

@transition-metals-3:     darken(@transition-metals, 8%);
@alkali-metals-3:         darken(@alkali-metals, 8%);
@alkaline-earth-metals-3: darken(@alkaline-earth-metals, 8%);
@lanthanides-3:           darken(@lanthanides, 8%);
@actinides-3:             darken(@actinides, 8%);
@poor-metals-3:           darken(@poor-metals, 8%);
@metalloids-3:            darken(@metalloids, 8%);
@polyatomic-nonmetals-3:  darken(@polyatomic-nonmetals, 8%);
@diatomic-nonmetals-3:    darken(@diatomic-nonmetals, 8%);
@noble-gases-3:           darken(@noble-gases, 8%);
@unknown-3:               darken(@unknown, 8%);