@import "mixins.less";

.element-detail {
  width: 600px;
  height: 360px;
  background-color: #666;
  
  .element-symbol {
    .no-select();
    cursor: default;
    width: 180px;
    height: 140px;
    float: left;
    font-size: 100px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  
  .element-name {
    width: 420px;
    height: 60px;
    float: right;
    padding-top: 6px;
    font-size: 34px;
    font-family: "Bitter", serif;
    text-align: center;
  }
  
  .element-number,
  .element-weight {
    width: 210px;
    height: 60px;
    float: right;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
  }
}