.periodic-table {
  width: 1548px;
  margin: 0 auto 0 auto;
}

.element {
  width: 86px;
  height: 80px;
  display: inline-block;
  text-align: center;
}

span.element-name {
  display: block;
  font-size: 0.86em;
  font-family: "Bitter", serif;
}

span.element-symbol {
  display: block;
  font-size: 2.6em;
  font-family: "Open Sans", 300;
}

.period.lanthanides {
  margin-top: 40px;
}

.element.align-left {
  float: left;
}

.element.align-right {
  float: right;
}

.element.transition-metals {
  background-color: rgb(162, 104, 60);
}

.element.alkali-metals {
  background-color: rgb(87, 204, 96);
}

.element.alkaline-earth-metals {
  background-color: rgb(204, 183, 87);
}

.element.lanthanides {
  background-color: rgb(84, 145, 32);

}

.element.actinides {
  background-color: rgb(87, 120, 48);

}

.element.poor-metals {
  background-color: rgb(255, 101, 44);
}

/* Start non-metals */

.element.metalloids {
  background-color: rgb(255, 68, 46);
}

.element.polyatomic-nonmetals {
  background-color: rgb(204, 69, 66);
}

.element.diatomic-nonmetals {
  background-color: rgb(112, 95, 255) /*rgb(71, 124, 255)*/;

}

/* End non-metals */

.element.noble-gases {
  background-color: rgb(29, 174, 187);
}

.element.unknown {
  background-color: rgb(187, 84, 38);
}
