@import "mixins.less";
@import "colours.less";


.generate-colours(1, 0%);
.generate-colours(2, 6%);
.generate-colours(3, 8%);
.generate-colours(4, 16%);

.periodic-table {
  width: 1548px;
  margin: 0 auto 0 auto;
}

.element {
  width: 86px;
  height: 80px;
  display: inline-block;
  text-align: center;
  
  .element-name {
    cursor: default;
    display: block;
    font-size: 0.86em;
    font-family: "Bitter", serif;
  }

  .element-symbol {
    .no-select();
    cursor: pointer;
    display: block;
    font-size: 2.6em;
    font-family: "Open Sans", 300;
  }
}

.element.align-left {
  float: left;
}

.element.align-right {
  float: right;
}

.period.lanthanides {
  margin-top: 40px;
}