<div class="element-detail">
  <div ng-class="element.group" class="element element-1 element-symbol">
    {{element.symbol}}
  </div>
  <div class="basic-properties">
    <div ng-class="element.group" class="element-2 element-name">
      
      {{element.name}}
    </div>
    <div ng-class="element.group" class="element-3 element-weight">
      {{element.atomic_weight | number:2}}
    </div>
    <div ng-class="element.group" class="element-3 element-number">
      {{element.atomic_number}}
    </div>
  </div>
  <div class="oxidation-states">
    <div ng-class="element.group" class="element-2 name">Oxidation States</div>
    <ul class="list-group">
      <li ng-class="element.group" class="element-2 list-group-item" ng-repeat="oxidation_state in element.oxidation_states">
        <span ng-class="element.group" class="element-4 badge" class="badge">{{oxidation_state}}</span>
      </li>
    </ul>
  </div>
</div>